recursive-include iterminator/iTerm2-Color-Schemes *
prune iterminator/iTerm2-Color-Schemes/backgrounds
prune iterminator/iTerm2-Color-Schemes/konsole
prune iterminator/iTerm2-Color-Schemes/screenshots
prune iterminator/iTerm2-Color-Schemes/terminal
prune iterminator/iTerm2-Color-Schemes/terminator
prune iterminator/iTerm2-Color-Schemes/xrdb
include iterminator/version.txt